html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    visibility: hidden;
    background-color: black;
    background-image:url("./assets/brilliant.png");

}


@media screen and (min-width:700px) and (max-width:2400px) {

    body {
            visibility: visible;
            height: 100vh;
            width: 100vw;
            font-family: "Cormorant SC", sans-serif;
            overflow: hidden;
            position: relative;
            margin: 0;
        }

body > .main {
        color: hsl(58,
            98%,
            40%);
        filter: contrast(150%), brightness(150%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        
    }

    .main>h2,
    .main>h1 {
        text-align: center;
    }

    
 body > .navContainer{
        width: 500px;
        height: 20vh;
        background-color: inherit;
        border-radius: none;
        overflow: hidden;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom:50px;
        
}


 .navContainer>.navBar {
     visibility: visible;
     width: 100%;
     background-color: #000000;
     background-image:url("./assets/45-degree-fabric-light.png");
     height:100% ;
     
 }


#bubbleWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: calc(25px + .25vmin);
}


.bubble {
    background-color: #000000;
    background-image: url("./assets/45-degree-fabric-light.png");
    width: calc(53px + .025vmin);
    height: calc(53px + .025vmin);
    bottom:calc(85px + .025vmin);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(155%);
}

 .icon {
        opacity: 0;
        color: white;
        font-size: calc(1.7em + .25vmin);
        filter: contrast(150%), brightness(100%);
    }

/*  */

#bubble1 {
    background-color: #000000;
    background-image: url("./assets/45-degree-fabric-light.png");
    transform: translateY(0%);
    
}

#bubble1 > span {
    opacity: 1;
}
  

.navBar > #bgWrapper {
    filter:url(#goo);
    -webkit-filter: url(#goo);
    background-color: black;
    background-image: url("./assets/brilliant.png");
    width: 100%;
    height:100px ;
    position: absolute;
    bottom:calc(67px + .025vmin) ;
}


#bg {
    background-color: black;
    background-image: url("./assets/brilliant.png");
    width:120%;
    height:100%;
    margin-left:-10%;
}

#bgBubble {
    position: absolute;
    background-color: black;
    background-image: url("./assets/brilliant.png");
    width: calc(70px + 0.025vmin);
    height: calc(70px + .025vmin);
    border-radius: 50%;
    bottom: calc(-60px + .025vmin);
    transform: translateX(-.26vw);

    
    /**/
   
}

#menuWrapper {
        position: absolute;
        width: 100%;
      
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

#menuWrapper > .menuElement {
        transform: translateY(25%);
        font-size: calc(1.5em + .25vmin);
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

