html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: hsl(0, 0%, 4%);
    margin:0%;
    height: 100vh;
    width: 100vw;
    filter: brightness(120%), contrast(150%);
    font-family: "Cormorant SC", sans-serif;
}

@media screen and (min-width:768px){
    .main {
            color: hsl(50, 80%, 60%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
        }
    
        .main>h2,
        .main>h1 {
            text-align: center;
        }
    
        .navContainer {
            position: fixed;
            width: 100%;
            height: 9vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: hsl(0, 0%, 11%);
            bottom: 0px;
            left: 0px;
        }
    
        .navBar {
            width: 100%;
            background-color: inherit;
            height: 100%;
            position: relative;
        }
    
        #bubbleWrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: absolute;
            bottom:7%;
        }
    
        .bubble {
            background-color: inherit;
            width: calc(50px + .025vmin);
            height: calc(50px + .025vmin);
            bottom: 5%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .icon{
            color: white;
            opacity: 0.75;
            font-size: calc(1.5em + .25vmin);
        }

        .bubble:hover{
            cursor:pointer;
        }

        .icon:hover {
          opacity: 1;
        }


}





/*

#menuWrapper {
    border-color: red;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menuElement {
    opacity: 0.4;
    transform: translateY(100%);
    cursor: pointer;
    border-color: yellow;
}


.icon {
    opacity: 0;
}

#bubble1 {
    transform: translateY(0%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#bubble1>span {
    opacity: 0.7;
}

#navBubbleWrapper {
    filter: contrast(200%);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 60px;
}

#navBubble {
    position: absolute;
    background-color: #ffcc80;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: -5%;
    left: 5%;
    transform: translateX(-50%);
}





.menuElement:hover {
    opacity: 0.5;
}

div>.fas .fa-home {
    color: red;
}*/
