html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --navbar-height: 60px;
    --darkMode-background-color:#161617;
}

body {
    background-color:var(--darkMode-background-color) ;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body>#main {
    display: none;
}

@media screen and (min-width:320px) {

body>#main {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        row-gap: 100px;
        background-color: inherit;
        width: 100%;
        margin: 0;
        font-family: "Cormorant SC", sans-serif;
        padding-top: 60px;
        padding-bottom: 10px;
        position: relative;

    }

    body>#main>#navBar {
        background-color: #1a1a1a;
        background-image: "url(./assets/black-linen.png)";
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 2;
        box-shadow: 0 0 10px #000;
        backdrop-filter: saturate(50%) blur(25px);
        -webkit-backdrop-filter: saturate(50%) blur(25px);
    }
    body>#main>#navBar #navigation_links_wrapper,  body> #main> nav>#mode_switch_social_wrapper {
        display: none;
    }

    /*hamburger menu*/
    body>#main>#navBar>.menu_icon_wrapper {
        background-color: inherit;
        display: block;
        position: relative;
        left: 9px;
        height: 45px;
        width: 35px;
        cursor: pointer;
    }

    body>#main>#navBar>.menu_icon_wrapper>.menuIcon {
        display: block;
        background-color: white;
        background-image: "url(./assets/brilliant.png)";
        filter: brightness(120%) contrast(120%);
        width: 100%;
        height: 4.5px;
        left: 0px;
        border-radius: 3px;
        position: absolute;
        -webkit-transform: rotate(0deg) translateX() left width top;
        -moz-transform: rotate(0deg) translateX() left width top;
        -o-transform: rotate(0deg) translateX() left width top;
        transform: rotate(0deg) translateX() left width top;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        -o-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }

    body>#main>#navBar>.menu_icon_wrapper>.menuIcon:nth-child(1) {
        top: 4px;
    }

    body>#main>#navBar>.menu_icon_wrapper>.menuIcon:nth-child(2),
    body>#main>#navBar>.menu_icon_wrapper>.menuIcon:nth-child(3) {
        top: 19px;
    }

    body>#main>#navBar>.menu_icon_wrapper>.menuIcon:nth-child(4) {
        top: 34px;
    }

    /*mobile navigation links*/
    body>#main>.mobile_navigation_links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        background-color: inherit;
        width: 100%;
        height: max-content;
        row-gap: 17px;
        padding-bottom: 17px;
        left: 0;
        top: -150%;
        z-index: 1;
        box-shadow: 0 0 10px #000;
        opacity: .99;
    }

    body>#main>.mobile_navigation_links>.mobile_display_flex_column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: inherit;
    }

    body>#main>.mobile_navigation_links>#mobile_social_icon_parent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: max-content;
        position: relative;
        margin: auto;
    }

    body>#main>.mobile_navigation_links>#mobile_social_icon_parent>a {
        text-decoration: none;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body>#main>.mobile_navigation_links>#mobile_social_icon_parent>a>.mobile_social_icon {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        cursor: pointer;
    }


    body>#main>.mobile_navigation_links>div>h3 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    body>#main>.mobile_navigation_links>div>h3:hover {
        cursor: pointer;
    }

    body>#main>.mobile_navigation_links>#mobile_mode_switch_container {
        background-color: black;
        width: 60px;
        height: 28px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin: auto;
    }

    body>#main>.mobile_navigation_links>#mobile_mode_switch_container>.mobile_switch_circle {
        position: absolute;
        right: 1.9px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        top: auto;
        bottom: auto;
        z-index: 3;
    }

    body>#main>.mobile_navigation_links>#mobile_mode_switch_container>.mobile_switch_icon_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        background-color: inherit;
    }

    body>#main> .mobile_navigation_links #mobile_mode_switch_container #mobile_switch_icon_wrapper #mobile_moon {
            filter: invert(.99) sepia(100%) saturate(9) brightness(120%) contrast(120%);
            border-color: 2px solid;
        }

    /*home page section*/
    body>#main>#homeContainer {
        
        color: white;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #homeHeading {
        color: inherit;
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
    }

    #homeHeading>h3,
    #homeHeading>h1 {
        text-align: center;
        filter: contrast(150%), brightness(150%);
    }

    #homeHeading>h1 {
        font-size: 1.75em;
    }

    #homeHeading>h2 {
        font-size: .8em;
    }

    /*portfolio section*/
    #portfolio_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 600px;
        position: relative;
        left: 0;
        right: 0;
        color: white;
        overflow-x: hidden;
    }

    #portfolio_container>h1 {
        font-size: 1.75em;
        filter: brightness(120%) contrast(120%);
        text-align: center;
        height: fit-content;
        width: 100%;
        color: inherit;
    }

    #portfolio_container>#portfolio {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        color: inherit;
        padding:0 5% 0 3%;
    }

    #portfolio_container>#portfolio>article {
       padding:0 2%;
        width: 290px; ;
        max-width: 290px; ;
    }

    #portfolio_container>#portfolio article a div img {
        width: 60px;
        height: 60px;
        border-radius: rem(2);
        display: block;
        filter: brightness(150%), contrast(150%);
    }

    #chess_article {
      
        color: inherit;
        height: 108px;
        border-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        filter: brightness(150%), contrast(150%);
        background-color: black;
    }

    #chess_link {
        color: inherit;
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }

    .chess_copy_wrapper {
        width: 210px;
        max-width: 210px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .chess_copy_wrapper>header {
        position: relative;
        top: -10%;
    }

    .chess_h3 {
        position: relative;
        font-size: 1em;
        font-weight: 600;
    }

    .chess_proj_desc {
        height: 50px;
        font-size: .8em;
        font-weight: 600;
        width: 100%;
        position: relative;
        padding-bottom: 3px;
    }

    .chess_img_wrapper {
        border-color: white;
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #calculator_article {
 
        color: inherit;
        height: 108px;
        border-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        filter: brightness(150%), contrast(150%);
        background-color: black;
    }

    #calculator_link {
        color: inherit;
        background-color: inherit;
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    .calculator_copy_wrapper {
        width: 210px;
        max-width: 210px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .calculator_copy_wrapper>header {
        position: relative;
        top: -10%;
    }

    .calculator_h3 {
        position: relative;
        font-size: 1em;
        font-weight: 600;
    }

    .calculator_proj_desc {
        height: 50px;
        font-size: .8em;
        font-weight: 600;
        width: 100%;
        position: relative;
        padding-bottom: 3px;
    }

    .calculator_img_wrapper {
        border-color: white;
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*about section*/
        #main #about_container {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 49px;
            align-items: center;
            background-color: inherit;
            overflow-x: hidden;
        }
    
        #main #about_container #about_header_wrapper {
            position: relative;
            margin-top:26%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
    
        #main #about_container div #about_header {
            font-size: calc(28px);
            filter: brightness(120%) contrast(120%);
            -webkit-filter: brightness(120%) contrast(120%);
            text-align: center;
            height: fit-content;
            width: 100%;
            color: inherit;
            position: relative;
          
        }
    
        #main #about_container div #about_intro_header {
            font-size: calc(19px);
            filter: brightness(120%) contrast(120%);
            text-align: center;
            height: fit-content;
            width: 100%;
            color: inherit;
            position: relative;
            
        }
    
        #main #about_container>#about_article_wrapper {
            color: white;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    
        #main #about_container>#about_article_wrapper img {
            width: 55px;
            height: 55px;
            border-radius: 50px;
            border-style: solid;
            border-color: white;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
        }
    
        #main #about_container>#about_article_wrapper>p {
            color: inherit;
            font-size: smaller;
            font-weight: 600;
            width: 225px;
            max-width: 225px;
        }
    
        #main #about_container>#my_career_and_tech_stack_wrapper {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
        }
    
        #main #about_container>#my_career_and_tech_stack_wrapper>.career_tech_stack {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1%;
            color: white;
            background-color: inherit;
        }
    
        #main #about_container>#my_career_and_tech_stack_wrapper>#career_obj_wrapper {
        width: 100%;
        max-width: 100%;
        }
    
        #main #about_container>#my_career_and_tech_stack_wrapper>#tech_stack_wrapper {
        width: 100%;
        max-width: 100%;
        }

        #main #about_container>#my_career_and_tech_stack_wrapper>.career_tech_stack>h3{
            text-align: center;
        }

        #main #about_container>#my_career_and_tech_stack_wrapper>.career_tech_stack>p {
            font-size: smaller;
            font-weight: 600;
            overflow-wrap: normal;
            text-align: center;
            padding:0 5%;
        }
    
        #main #about_container>#res_button_container {
            position: relative;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
            background-color: #34c0eb;
            border-radius: 10px;
            border-color: #34c0eb;
            width: fit-content;
            margin: 0 auto;
            text-decoration: none;
            overflow: hidden;
            overflow-wrap: normal;
    
        }
    
        #main #about_container>a>div {
            border: none;
            border-radius: 10px;
            width: 90px;
            max-width: 90px;
            height: 35px;
            background-color: inherit;
            text-align: center;
            font-size: medium;
            font-weight: 800;
            font-family: "Cormorant SC", sans-serif;
            opacity: .85;
            transition: all .2s ease-in-out;
            overflow-wrap: normal;
    
        }
    
        #main #about_container>a>div>.cv_download_text {
            display: block;
            color: white;
            text-align: center;
            margin-top:13% ;
        }
    
        #main #about_container>a>div>img {
            width: 22px;
            height: 22px;
            margin-top: 30%;
            filter: invert(100%) saturate(200%);
            -webkit-filter: invert(100%) saturate(200%);
        }
    
        #main #about_container>a:hover {
            cursor: pointer;
            opacity: 1;
            filter: brightness(110%) contrast(110%);
            -webkit-filter: brightness(110%) contrast(110%);
        }
    
        #main #about_container>a>div:hover {
            transform: translate3d(0, -128%, 0);
        }
    
        #main #about_container>#res_button_container:active {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
            transform: scale(.95);
        }




    /*contact section*/
        #main #contact_container {
            position: relative;
            width: 100%;
            min-width: 100%;
            height: 750px;
            /*top: calc(var(--navbar-height) * 8.5);*/
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 4.06em;
            align-items: center;
            background-color: inherit;
            color: white;
            overflow-x: hidden;
        }
    
        #main #contact_container h1 {
            font-size: calc(28px);
            width: 100%;
            height: fit-content;
            text-align: center;
        }
    
        #main>#contact_container>form {
            width: 260px;
            max-width: 260px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            row-gap: 25px;
            align-items: center;
            border: 2px solid white;
            color: white;
            padding: 3% 0;
            margin: 0 auto;
            position: relative;
        }
    
        #main>#contact_container>form>input,
        #main>#contact_container>form>textarea {
            width: 85%;
            max-width: 85%;
            color: white;
            background-color: black;
            font-family: "Cormorant SC", sans-serif;
        }
    
        #main>#contact_container>form>textarea {
            height: 225px;
            min-height: 225px;
            max-height: 225px;
        }
    
        #main>#contact_container>form>input::placeholder {
            color: white;
            font-family: "Cormorant SC", sans-serif;
            font-size: small;
            background-color: black;
        }
    
        #main>#contact_container>form>textarea::placeholder {
            color: white;
            font-family: "Cormorant SC", sans-serif;
            font-size: small;
            background-color: black;
        }
    
        #main>#contact_container>form>button {
            width: 90px;
            max-width: 90px;
            height: 45px;
            color: white;
            background-color: #0e5227;
            filter: contrast(110%);
            -webkit-filter: contrast(110%);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
            font-family: "Cormorant SC", sans-serif;
            font-size: small;
            text-align: center;
            overflow-wrap: normal;
            overflow: hidden;
            opacity: .85;
            transition: all .2s ease-in-out;
            position: relative;
            border-radius: 10px;
            border-color: #0e5227;
        }
    
        #main>#contact_container>form>button>.alt-send-button {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
        }
    
        #main>#contact_container>form>button>.alt-send-button>.send-text {
            position: relative;
            display: block;
            margin-top: 10%;
            font-size: medium;
            font-weight: 800;
            filter: brightness(120%);
            -webkit-filter: brightness(120%);
        }
    
        #main>#contact_container>form>button>div>img {
            width: 40%;
            height: 40%;
            position: relative;
            filter: invert(100%);
            -webkit-filter: invert(100%);
            margin-top: 30%;
        }
    
        #main>#contact_container>form>button:hover {
            opacity: 1;
            cursor: pointer;
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
        }
    
        #main>#contact_container>form>button>.alt-send-button:hover {
            transform: translate3d(0px, -100%, 0px);
            filter: brightness(110%);
            -webkit-filter: brightness(110%);
        }
    
    
        #main>#contact_container>form>button:active {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
            transform: scale(.95);
        }

}

@media screen and (min-width:480px) {
    #portfolio_container>#portfolio>article {
            padding: 0 2%;
            width: 310px;
            ;
            max-width: 310px;
            ;
        }

 #portfolio_container>#portfolio article a div img {
     width: 70px;
     height: 70px;
     border-radius: rem(2);
     display: block;
     filter: brightness(150%), contrast(150%);
 }

.chess_copy_wrapper {
    width: 220px;
    max-width: 220px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

  .calculator_copy_wrapper {
      width: 220px;
      max-width: 220px;
      height: 100%;
      position: relative;
      overflow: hidden;
  }


   #main>#contact_container>form {
       width: 290px;
       max-width: 290px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       row-gap: 25px;
       align-items: center;
       border: 2px solid white;
       color: white;
       padding: 3% 0;
       margin: 0 auto;
       position: relative;
   }
}

@media screen and (min-width:650px) {
    #portfolio_container>#portfolio>article {
        padding: 0 2%;
        width: 390px;
        ;
        max-width: 390px;
        ;
    }

    #portfolio_container>#portfolio article a div img {
        width: 80px;
        height: 80px;
        border-radius: rem(2);
        display: block;
        filter: brightness(150%), contrast(150%);
    }

    .chess_copy_wrapper {
        width: 290px;
        max-width: 290px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .calculator_copy_wrapper {
        width: 290px;
        max-width: 290px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }


    #main>#contact_container>form {
        width: 330px;
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 25px;
        align-items: center;
        border: 2px solid white;
        color: white;
        padding: 3% 0;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (min-width:840px) {
    #portfolio_container>#portfolio>article {
        padding: 0 2%;
        width: 405px;
        ;
        max-width: 405px;
        ;
    }

    #portfolio_container>#portfolio article a div img {
        width: 90px;
        height: 90px;
        border-radius: rem(2);
        display: block;
        filter: brightness(150%), contrast(150%);
    }

    .chess_copy_wrapper {
        width: 295px;
        max-width: 295px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .calculator_copy_wrapper {
        width: 295px;
        max-width: 295px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

          .proj_heading {
              font-size: 18px;
          }
    
          .proj_copy {
              font-size: 16px;
          }

    #main>#contact_container>form {
        width: 340px;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 25px;
        align-items: center;
        border: 2px solid white;
        color: white;
        padding: 3% 0;
        margin: 0 auto;
        position: relative;
    }
}